.deleteIcon {
    height: 17px;
    width : 13px;
}

.productImage {
    max-width: 150px;
    border   : 0.95px solid #E7E7E7;
    padding  : 2px;
}

.productName {
    font-family: Lexend;
    font-size  : 11.34px;
    font-weight: 300;
    line-height: 15.12px;
    text-align : left;

}

.productBrandName {
    display: none;
}

.productPriceCurrency {
    font-family: Lexend;
    font-size  : 11.34px;
    font-weight: 400;
    line-height: 15.88px;

}

.price {
    font-family: Lexend;
    font-size  : 15.12px;
    font-weight: 600;
    line-height: 18.15px;
}

.quantitySelectorButton {
    background-color: #1D2734;
    color           : white;
}

.quantitySelectorDecrease {
    width        : 37px;
    height       : 43px;
    padding      : 9.45px;
    gap          : 9.45px;
    border-radius: 3.78px 0px 0px 3.78px;

}

.quantitySelectorIncrease {
    width        : 37px;
    height       : 43px;
    padding      : 9.45px;
    gap          : 9.45px;
    border-radius: 0px 3.78px 3.78px 0px;
}

.quantitySelectorContainer {
    width : 137.06px;
    height: 45.37px;
}

.inputContainer {
    width  : 15px !important;
    height : auto;
    padding: 0px !important;
}

/*
class="vtex-product-list-0-x-quantitySelectorContainer vtex-product-list-0-x-quantity vtex-product-list-0-x-quantityStepper vtex-product-list-0-x-quantitySelector"

vtex-minicart-2-x-minicartProductListContainer w-100 h-100 overflow-y-auto ph4 ph6-l

vtex-product-list-0-x-productPriceCurrency  vtex-product-list-0-x-productPriceCurrency c-muted-1 strike t-mini mb2