.wishlistIconContainer :global(.vtex-button) {
    width        : 44px;
    height       : 32px;
    padding      : 6px ;
    padding-left: 8px;
    border-radius: 4px;
    border       : 2px solid #1D2734;
    display:flex;
    align-items: center;
}

.wishlistIconContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.wishlistIconContainer :global(.vtex-button__label){
    padding: 0px;
    padding-right: 2px;
}
.wishlistIconContainer :global(.vtex-button):hover {
    background-color: transparent;
    border          : 2px solid #1D2734
}


.outline {
    outline-color: #1D2734 !important;
}

.wishlistIcon :global(.vtex-wish-list-1-x-outline){
    background: url(/assets/svg/heart.svg) !important;
    outline-color: #1D2734;
    color        : #1D2734;
}
/*
class="vtex-product-summary-2-x-item mh1 pa2 bg-blue white tc"

class="vtex-button__label flex items-center justify-center h-100 ph6 "
class=" bw1 ba fw5 v-mid relative pa0 lh-solid br2 min-h-regular t-action bg-transparent b--transparent c-action-primary hover-b--transparent hover-bg-action-secondary hover-b--action-secondary pointer "
class="vtex-wish-list-1-x-wishlistIconContainer vtex-wish-list-1-x-wishlistIconContainer--global__product-shelf"