.discountInsideContainer {
    background-color: #1D2734;
    width           : Hug (84px)px;
    height          : Hug (32px)px;
    padding         : 6px 12px 6px 12px;
    gap             : 10px;
    border-radius   : 4px 4px 4px 4px;
    border          : 1px 0px 0px 0px;
    opacity         : 0px;

}