.buttonText--pdp__cart-btn {
    font-family   : Lexend;
    font-size     : 14px;
    font-weight   : 400;
    line-height   : 17.5px;
    text-align    : center;
    color         : white;
    text-transform: none !important;
}

.buttonDataContainer--pdp__cart-btn {
    width           : 312px !important;
    height          : 48px !important;
    padding         : 10px;
    border-radius   : 4px;
    border          : 1px solid #492A77;
    background-color: #492A77;
}

.buttonText--pdp__cart-btn::before {
    content       : url('assets/svg/white-cart-btn.svg');
    color         : white;
    display       : inline-block;
    padding-right : 3px;
    vertical-align: middle;
    font-weight   : 900;
    height        : 20px;
    width         : 20px;

}

/*
vtex-button bw1 ba fw5 v-mid relative pa0 lh-solid br2 min-h-regular t-action bg-action-primary b--action-primary c-on-action-primary hover-bg-action-primary hover-b--action-primary hover-c-on-action-primary pointer w-100 

class="vtex-button__label flex items-center justify-center h-100 ph6 w-100 border-box "
:global(.vtex-button){

}
class="vtex-button bw1 ba fw5 v-mid relative pa0 lh-solid br2 min-h-regular t-action bg-action-primary b--action-primary c-on-action-primary hover-bg-action-primary hover-b--action-primary hover-c-on-action-primary pointer w-100 "
vtex-add-to-cart-button-0-x-buttonText vtex-add-to-cart-button-0-x-buttonText--pdp__cart-btn
vtex-add-to-cart-button-0-x-buttonDataContainer vtex-add-to-cart-button-0-x-buttonDataContainer--pdp__cart-btn flex justify-center