.flexCol--global__slider__info-card {
    background-color: #FFFFFF;
    justify-content : space-between;
    width           : 324px;
    height          : 336.46px;
    gap             : 0px;
    border-radius   : 12px;

}

.flexColChild--global__slider__info-card--text {
    padding: 0px 0px 0px 0px;
}