.paginationDot {
    width           : 44px !important;
    height          : 40px !important;
    border-radius   : 0;
    background-color: transparent;
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 0 2px;
}

.paginationDot--isActive::before {
    background-color: #1D2734;
    content         : "";
    position        : absolute;
    right           : -5px;
    width           : 16px;
    height          : 16px;
    border-radius   : 50%;
}

.paginationDot--isActive::after {
    width           : 44px;
    height          : 2px;
    content         : "";
    background-color: rgba(29, 39, 52, .4);
    font-size       : 0;
    position        : absolute;
}

.sliderLayoutContainer--global__info-card {
    padding: 50px;
}

.sliderLayoutContainer--global__product-shelf {
    padding: 50px;
}

/*
class="vtex-slider-layout-0-x-paginationDot vtex-slider-layout-0-x-paginationDot--global__info-card vtex-slider-layout-0-x-paginationDot--global__home--slider vtex-slider-layout-0-x-paginationDot--isActive vtex-slider-layout-0-x-paginationDot--global__info-card--isActive vtex-slider-layout-0-x-paginationDot--global__home--slider--isActive bg-emphasis grow dib br-100 pa2 mr2 ml2 bw0 pointer outline-0"