.buttonLink {
    max-width       : 134px;
    height          : 43px;
    padding         : 8px;
    gap             : 8px;
    border-radius   : 40px;
    border          : 0.86px;
    border-color    : #1D2734;
    background-color: #1D2734;

}
