
.flexCol--global__slider__info-card {
    background-color:#F0F0F2;
    justify-content : space-between;
    width           : Fixed (324px)px;
    height          : Hug (336.46px)px;
    gap             : 0px;
    border-radius   : 12px;

}

.flexColChild--global__slider__info-card--text {
    padding     : 0px 0px 0px 0px;
    padding-left: 5px;
}