.closeIconContainer {
    display        : flex;
    justify-content: flex-end;
    top            : 6%;
    position       : relative;
}

.minicartTitle::after {
    content    : "Resumen de tu compra";
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 600;
    line-height: 17.5px;
    text-align : left;
    position: relative;
    top: 70%;
    right: 110px;

}


/*
flex vtex-minicart-2-x-closeIconContainer
vtex-minicart-2-x-minicartTitle t-heading-3 mv2 ph4 ph6-l c-on-base