.brandName--plp__shelf {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 400;
    line-height: 12.76px;
    text-align : left;
}


.priceContainer--plp__shelf :global(.vtex-store-components-3-x-sellingPrice) {
    font-family: Lexend;
    font-size  : 14px !important;
    font-weight: 600;
    padding    : 0px;
    margin     : 0px;
}

.listPrice--plp__shelf {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 600;
    padding    : 0px;
    margin     : 0px;
}

.priceContainer--plp__shelf {
    padding   : 0px;
    margin-top: 5px;
}

.imageWrapper--plp__shelf {
    max-width : 240px;
    max-height: 110px;
}


.container--plp__shelf-mobile {
    max-width: 80% !important;
}

.priceContainer--plp__shelf-mobile :global(.vtex-store-components-3-x-sellingPrice) {
    font-family: Lexend;
    font-size  : 14px !important;
    font-weight: 600;
    line-height: 25px;
    padding    : 0px;
    margin     : 0px;
}

.listPrice--plp__shelf-mobile {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 600;
    line-height: 25px;
    padding    : 0px;
    margin     : 0px;
}