/*.container--plp__shelf {
    }
    */
.element {
    display       : flex;
    flex-direction: row;
    align-items   : center;
}

.description--plp__shelf {
    width             : 40px;
    height            : 150px;
    font-family       : Lexend;
    font-size         : 12px;
    font-weight       : 400;
    line-height       : 16.8px;
    text-align        : left;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp        : 3;
    -webkit-box-orient: vertical;

}


.priceContainer--plp__shelf :global(.vtex-store-components-3-x-sellingPrice) {
    font-family: Lexend;
    font-size  : 20px;
    font-weight: 600;
    line-height: 28.8px;
    padding    : 0px;
    margin     : 0px;
}

.priceContainer--plp__shelf {
    display : flex;
    position: relative;
    top     : 50%;
    left    : -20%;
}