:global(.vtex-mega-menu-2-x-menuContainerVertical li:first-child::after) {
    background-image: url(/arquivos/itg-menu.png);
    content         : "";
    display         : inline-block;
    width           : 20px;
    height          : 22px;
    background-size : 100%;
}

:global(.vtex-mega-menu-2-x-menuContainerVertical li:first-child) {
    padding-left   : 10px;
    border-bottom  : 1px solid #F5F4F6 !important;
    flex-direction : row-reverse;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

/*
class="vtex-mega-menu-2-x-styledLinkContainer pv5 mh5"
vtex-mega-menu-2-x-styledLinkText flex justify-between items-center
class="vtex-mega-menu-2-x-styledLinkContent flex justify-between"
vtex-mega-menu-2-x-menuItemVertical bb b--light-gray bt
vtex-mega-menu-2-x-styledLinkText flex justify-between items-center
div:last-child::before
:global(.vtex-mega-menu-2-x-menuContainerVertical li:first-child::before)

:global(vtex-mega-menu-2-x-styledLinkContent :first-child)