


/*
vtex-mega-menu-2-x-menuContainerNavVertical w-100

class="vtex-mega-menu-2-x-menuItemVertical bb b--light-gray bt"
font-family: Lexend,
font-size: 12px,
font-weight: 300

class="vtex-mega-menu-2-x-departmentsContainer"
vtex-mega-menu-2-x-menuItemVertical bb b--light-gray
styledLinkText
class="vtex-mega-menu-2-x-styledLinkContent flex justify-between"
vtex-mega-menu-2-x-styledLinkText flex justify-between items-center
menuContainerVertical 