:global(.vtex-mega-menu-2-x-menuContainerVertical li:first-child::after) {
    content : url(/arquivos/itg-menu.png);
    position: absolute;
    top     : 13%;
    left    : 10px;
}

:global(.vtex-mega-menu-2-x-menuContainerVertical li:first-child) {
    padding-left: 20px;
    border-bottom: 1px solid #F5F4F6 !important;
}

/*
class="vtex-mega-menu-2-x-styledLinkContainer pv5 mh5"
vtex-mega-menu-2-x-styledLinkText flex justify-between items-center
class="vtex-mega-menu-2-x-styledLinkContent flex justify-between"
vtex-mega-menu-2-x-menuItemVertical bb b--light-gray bt
vtex-mega-menu-2-x-styledLinkText flex justify-between items-center
div:last-child::before
:global(.vtex-mega-menu-2-x-menuContainerVertical li:first-child::before)

:global(vtex-mega-menu-2-x-styledLinkContent :first-child)