.wrapper--sticky-header{
    height: 100% !important;
}

.wrapper--sticky-header-desktop{
    height: 100% !important;
}

.container--sticky-header {
    background-color: #FFFFFF;
    height          : 168px;
    padding-top     : 56px;
    box-shadow      : 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

}

.container--sticky-header-desktop {
    background-color: #FFFFFF;
    height          : 168px;
    padding-top     : 56px;
    box-shadow      : 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    align-items     : center;
    display         : grid;
    justify-items   : center;
    margin          : 0 auto;
    width           : 100%;
}