.logoLink {
    margin: auto;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    background-color: #F5F4F6 !important;
    height          : 40px;
    border          : none;
    border-radius   : 40px !important;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
    background-color: #F5F4F6 !important;
    font-family     : Lexend;
    font-size       : 12px;
    font-weight     : 300;
    line-height     : 15px;
    text-align      : left;
    color           : #1D2734;
    border-bottom   : 0 !important;
}

@media (max-width:425px) {
    .searchBarContainer :global(.vtex-input-prefix__group) {
        max-width: 700px;
        height   : 40px;
        border   : none !important;
        position : relative;
        left     : 10%;
    }

    .searchBarContainer :global(.vtex-store-components-3-x-suffixWrapper) {
        background-color: white !important;
    }

    .searchBarContainer :global(.vtex-input__suffix) {
        background-color: white !important;
    }

    .searchBarContainer :global(.vtex-styleguide-9-x-input) {
        background-color: white !important;
        border-bottom   : 0 !important;
    }
}