.sliderTrackContainer--global__header-icons {
    padding-left : 48px;
    height       : 56px;
    align-content: baseline;
}

.slide--global__header-icons {
    height: 47px;
    width : 90px !important;
}

.slide--global__header-icons:hover {
    border-bottom: 3px solid #1D2734;
}

@media (min-width: 1026px) {
    .sliderTrackContainer--global__header-icons {
        align-content: end;
    }
}

@media (max-width: 1100px) {
    .sliderTrackContainer--global__header-icons {
        gap          : 5px;
        padding-left : 0px;
        padding-right: 0px;
        max-width    : 1000px;
    }
}