.container :global(.vtex-button) {
    background-color: #1D2734;
    width           : 80px;
    height          : 40px;
    padding         : 10px;
    border-radius   : 40px;
    border          : 1px;
    align-content   : center;
}

.label {
    display    : inline;
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 300;
    line-height: 17.5px;
    text-align : left;
    color      : white;
    padding    : 0px;
    width      : 37px;
    height     : 18px;
}

.box {
    margin-top: 61px;
}

.contentContainer {
    background-color: #F5F4F6;
    width           : 423px;
    max-height      : 303px;
    border-radius   : 0px 0px 8px 8px;
    margin          : 0px;
    position        : relative;
    z-index         : 2;
}

.content {
    background-color: #F5F4F6;
    border-radius   : 0px 0px 8px 8px;
    padding-bottom  : 8px;
}

.contentForm {
    min-width: 58%;
}
/*.loginOptionsContainer {
    position: absolute;
    bottom  : -1px;
    left    : 27px;
}*/

.formTitle {
    font-family: Lexend;
    font-size  : 20px;
    font-weight: 300;
    line-height: 22.92px;
    text-align : center;
    color      : #1D2734;
}

.optionsList :global(.vtex-button) {
    background-color: transparent;
    width           : 368px;
    height          : 48px;
    gap             : 10px;
    border-radius   : 40px;
    border          : 1px solid #1D2734;
    font-family     : Lexend;
    font-size       : 14px;
    font-weight     : 400;
    line-height     : 17.5px;
    text-align      : center;
    text-transform  : none;

}

.arrowUp {
    display: none;
}

.box::before {
    content         : "";
    position        : fixed;
    width           : 100%;
    height          : calc(100% - 168px);
    top             : 168px;
    left            : 0;
    right           : 0;
    bottom          : 0;
    z-index         : 1;
    background-color: rgba(0, 0, 0, 0.251);

}

.googleOptionBtn :global(.vtex-button) {
    gap             : 15px;
    border-radius   : 40px;
    background-color: white;
    border          : 1px solid #AEBACE80;
}

.googleOptionBtn :global(.vtex-login-2-x-oauthLabel) {
    font-family   : Lexend !important;
    font-size     : 16px !important;
    font-weight   : 400 !important;
    line-height   : 20px;
    text-align    : center;
    text-transform: none !important;
    color         : #5E636E;

}

.facebookOptionBtn :global(.vtex-button) {
    gap             : 15px;
    border-radius   : 40px;
    opacity         : 0px;
    background-color: #1877F2;
    border          : none;
}

.facebookOptionBtn :global(.vtex-login-2-x-oauthLabel) {
    font-family   : Lexend !important;
    font-size     : 16px !important;
    font-weight   : 400 !important;
    line-height   : 20px;
    text-align    : center;
    text-transform: none !important;
    color         : white;

}

.inputContainer :global(.vtex-input-prefix__group) {
    width        : 368px;
    height       : 48px;
    top          : 83px;
    left         : 28px;
    padding      : 10px 16px 10px 16px;
    gap          : 10px;
    border-radius: 40px;
    border       : 1px solid #1D2734;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
    font-family: Lexend !important;
    font-size  : 14px !important;
    font-weight: 400 !important;
    line-height: 17.5px;
    text-align : left;
}

.formLinkContainer {
    align-items    : center;
    text-align     : center;
    justify-content: center;
}

.forgotPasswordLink {
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 300;
    line-height: 20px;
    text-align : center;
}

.backButton {
    position: absolute;
    left    : 27px;
    top     : 25px;
    width   : 24px;
    height  : 24px;

}

.backButton :global(.vtex-button__label) span div span {
    display: none;
}

.backButton :global(.vtex-button__label) svg {
    width: 24px;
}

.emailAndPasswordForm .formTitle {
    font-family   : Lexend;
    font-size     : 14px;
    font-weight   : 300;
    line-height   : 20px;
    text-align    : center;
    color         : #5E636E;
    padding       : 8px;
    padding-bottom: 16px;
    top           : 20px;
}

.emailAndPasswordForm .formTitle::before {
    content    : "LOG IN";
    font-family: Lexend;
    font-size  : 20px;
    font-weight: 300;
    line-height: 22.92px;
    text-align : center;
    color      : #1D2734;
    position   : absolute;
    top        : -20px;
    left       : 145px;
}

.sendButton :global(.vtex-button) {
    width           : 368px;
    height          : 48px;
    border-radius   : 40px;
    border          : 1px;
    background-color: #1D2734;
}

.sendButton :global(.vtex-button__label) span {
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align : center;
    color      : white;
}

.sendButton {
    margin-left: 0px;
}

.formFooter {
    margin     : 0px;
    padding-top: 10px;
    border     : 0px;
}


.dontHaveAccount {
    width        : 368px;
    height       : 48px;
    top          : 311px;
    left         : 28px;
    padding      : 10px;
    gap          : 10px;
    border-radius: 40px;
    color        : #1D2734;
    font-family  : Lexend;
    font-size    : 14px;
    font-weight  : 400;
    line-height  : 17.5px;
    text-align   : center;

}

.content--emailVerification {
    width : 423px;
    height: 219px !important;
}

.emailForm .formTitle {
    padding: 8px;
    top    : -10px;
}

.emailForm .formTitle::after {
    content    : "Receive access code by email";
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 300;
    line-height: 20px;
    text-align : center;
    color      : #5E636E;
    position   : absolute;
    top        : 30px;
    left       : 80px;

}

.content--recoveryPassword {
    height: auto;
}

.content--codeConfirmation {
    width : 423px;
    height: 219px !important;
}

.codeConfirmation .formTitle h3 {
    content: "cambio?"
}

.inputContainerPassword div {
    font-family: Lexend !important;
    font-size  : 12px !important;
    font-weight: 300;
    line-height: 16px;
    text-align : left;
    color      : #f3f3f3;
}

.forgotPasswordForm .formSubtitle {
    font-family: Lexend;
    font-size  : 14px;
    font-weight: 300;
    line-height: 20px;
    text-align : center;
}

.forgotPasswordForm .formTitle {
    font-family: Lexend;
    font-size  : 20px;
    font-weight: 300;
    line-height: 22.92px;
    text-align : center;
}


@media (max-width:900px) {
    /*.loginOptionsContainer {
        position: relative;
        bottom  : -1px;
        left    : 0%;
        
        }*/
        .content {
            flex-wrap: wrap;
        }
    }