.styledLink {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    text-align : left;
}

.menuItem--menu--principal {
    position: relative;
    left    : 30px;
    top     : 4px;
}

.container {
    position: relative;
}

.submenuWrapper--general-menu {
    width           : auto;
    max-height      : 647px;
    border-radius   : 0px 0px 0px 16px;
    background-color: #FFFFFF;
}

.submenuWrapper .menuItem:hover {
    background-color: #FFE6D3;
    max-width       : 225px;
    border-left     : 4px solid #FF8324;

}

.submenuWrapper--submenu--deals--isOpen {
    background-color: #FFE6D3;
}

.submenuContainer--submenu--deals {
    position: absolute;
    top     : 0px;
    left    : 219px;
}

.menuContainer--submenu--deals {
    display      : flex;
    flex-wrap    : wrap;
    height       : 460px;
    width        : 350px;
    box-sizing   : border-box;
    border-radius: 0px 0px 16px 0px;
}

.submenuWrapper--submenu--deals {
    border-radius: 0px 0px 16px 0px;
}

.menuContainer--submenu--deals .menuItem {
    width      : 50%;
    box-sizing : border-box;
    line-height: 15px;
}

.styledLinkContent--submenu--deals--row {
    font-weight: bold;
}

.menuItem--menu--principal--isOpen::before {
    content         : "";
    position        : fixed;
    width           : 100%;
    height          : calc(100% - 116px);
    top             : 116px;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(29, 39, 52, 0.4);
    z-index         : 2;
}