@font-face {
    font-family: 'Lexend';
    font-style : bold;
    src        : url(/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf),
        format('ttf'),
        local('Lexend-Bold');
}

@font-face {
    font-family: 'Lexend';
    font-style : medium;
    src        : url(/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf),
        format('ttf'),
        local('Lexend-Medium');
}


@font-face {
    font-family: 'Lato';
    font-style : bold;
    src        : url(/assets/fonts/Lato/Lato-Bold.ttf),
        format('ttf'),
        local('Lato-Bold');
}

@font-face {
    font-family: 'Lato';
    font-style : medium;
    src        : url(/assets/fonts/Lato/Lato-Regular.ttf),
        format('ttf'),
        local('Lato-Medium');

}

@font-face {
    font-family: 'Lato';
    font-style : normal;
    src        : url(/assets/fonts/Lato/Lato-Regular.ttf),
        format('ttf'),
        local('Lato-Regular');

}
@font-face {
    font-family: 'Lato';
    font-style : light;
    src        : url(/assets/fonts/Lato/Lato-Light.ttf),
        format('ttf'),
        local('Lato-Light');
}